<%= render 'list' %>
<section>
	<div class="field is-grouped">
		<div class="control">
			<%= link_to "New Meal Plan", new_meal_plan_path, class: "button is-link is-light" %>
			<%= link_to "All", meal_plans_all_path, class: "button is-success is-light" %>
		</div>
	</div>	
</section>