<nav class="navbar is-fixed-top is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <%= image_tag("pizza.png", alt: "Logo Pizza", size: '100') %>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to "Planner", meal_plans_path, class: "navbar-item" %>
        <%= link_to "Recipes", recipes_path, class: "navbar-item" %>
      </div>
    </div>
</nav>